h2{
  text-align: center;
}
#taskTable{
  border: 1px solid gainsboro;
}
th, td{
  text-align: center;
}
.clear{
  color: white;
  border-width: 2px;
  background-color: transparent;
}
.btn:focus{
  outline-color: transparent;
}
#home{
  font-weight: bold;
}
#addBtn{
  text-align: center;
}
.error{
  background-color: #ffe6e6;
  color: #990000;
}
.good{
  background-color: #d6f5d6;
  color: #008000;
}
.dropdown-menu{
  background-color: transparent;
  text-align: center;
}
#profile, #logout{
  width: 80%;
}
.caption{
  text-align: center;
}
.btnImg{
  height: 150px;
  width: 100%;
  background-color: transparent;
  border: 1px solid gainsboro;
  margin-bottom: 10px;
}
.imgBtn{
  width: 100%;
  height: 100%;
}
.hidden{
  display: none;
}
#emptyTable{
  width: 100%;
}
.notes{
  height: 200px;
  width: 200px;
  border-color: #d9d9d9;
  background-color: #f2f2f2;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 5px;
}
.noteTitle{
  padding: 5px;
  width: 85%;
  border-color: #d9d9d9;
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  font-weight: bold;
  outline: none;
  background-color: transparent;
}
textarea{
  border-color: #d9d9d9;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  outline: none;
  resize: none;
  height: 86%;
  width: 100%;
  background-color: transparent;
}
.closeNote{
  margin-left: 165px;
  margin-top: -1px;
  border-radius: 0px 5px 0px 0px;
  text-align: center;
}
.noteContainer{
  height: 100%;
}
