h2{
  text-align: center;
}
#taskTable{
  border: 1px solid gainsboro;
}
th, td{
  text-align: center;
}
.clear{
  color: white;
  border-width: 2px;
  background-color: transparent;
}
.btn:focus{
  outline-color: transparent;
}
#home{
  font-weight: bold;
}
#addBtn{
  text-align: center;
}
.error{
  background-color: #ffe6e6;
  color: #990000;
}
.good{
  background-color: #d6f5d6;
  color: #008000;
}
.dropdown-menu{
  background-color: transparent;
  text-align: center;
}
#profile, #logout{
  width: 80%;
}
.caption{
  text-align: center;
}
.btnImg{
  height: 150px;
  width: 100%;
  background-color: transparent;
  border: 1px solid gainsboro;
  margin-bottom: 10px;
}
.imgBtn{
  width: 100%;
  height: 100%;
}
.hidden{
  display: none;
}
#emptyTable{
  width: 100%;
}
.notes{
  height: 200px;
  width: 200px;
  border-color: black;
  border-style: solid;
  border-width: 20px 2px 2px 2px;
}
.noteTitle{
  width: 100%;
  outline: none;
}
textarea{
  border-top: 2px solid black;
  outline: none;
  resize: none;
  height: 100%;
  width: 100%;
}
