h2{
  text-align: center;
}
#taskTable{
  border: 1px solid gainsboro;
}
th, td{
  text-align: center;
}
.clear{
  color: white;
  border-width: 2px;
  background-color: transparent;
}
.btn:focus{
  outline-color: transparent;
}
#home{
  font-weight: bold;
}
#addBtn{
  text-align: center;
}
.error{
  background-color: #ffe6e6;
  color: #990000;
}
.good{
  background-color: #d6f5d6;
  color: #008000;
}
.dropdown-menu{
  text-align: center;
}
