h2{
  text-align: center;
}
#taskTable{
  border: 1px solid gainsboro;
}
th, td{
  text-align: center;
}
.clear{
  color: white;
  border-width: 2px;
  background-color: transparent;
}
.btn:focus{
  outline-color: transparent;
}
#home{
  font-weight: bold;
}
#addBtn{
  text-align: center;
}
.error{
  background-color: #ffe6e6;
  color: #990000;
}
.good{
  background-color: #d6f5d6;
  color: #008000;
}
.dropdown-menu{
  background-color: transparent;
  border-color: transparent;
  text-align: right;
}
#profile, #logout{
  width: 100%;
}
.caption{
  text-align: center;
}
.btnImg{
  height: 100px;
  width: 100px;
  background-color: transparent;
  border: 1px solid gainsboro;
  margin-bottom: 10px;
}
